<app-empnav></app-empnav>
<div class="container">
    <div class="row g-3 m-4">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">

            <div class="card" >
                
                <div class="card-body">
                  <h4 class="card-title text-center"><i>Welcome &nbsp;{{data[0].empname}}</i></h4>
                  <img height="400px" src="https://static.vecteezy.com/system/resources/previews/004/819/327/original/male-avatar-profile-icon-of-smiling-caucasian-man-vector.jpg" class="card-img-top " alt="..." >
                  <p class="card-text text-center"><b>Designation: {{data[0].designation}}</b></p>
                </div>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item text-center"><b>Salary:{{data[0].salary}}</b></li>
                  <li class="list-group-item text-center"><b>Username:{{data[0].username}}</b></li>
                
                </ul>
                
              </div>

        </div>
    </div>
</div>

