<app-homenav></app-homenav>
<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6"> </div>
        
            <div class="card" style="width: 500rem;">
                <img height ="500" src="https://thumbs.dreamstime.com/b/admin-login-sign-made-wood-table-admin-login-sign-made-wood-table-197823311.jpg" class="card-img-top" alt="...">
                <div class="centered"><img height="100" src="https://www.nestdigital.com/images/logo.svg">
                    
                <div class="card-body">
                  <h5 class="card-title"><b><i><h2>Welcome ADMIN</h2></i></b></h5>
                </div>
            </div>
    </div>
</div>
