<app-addempnav></app-addempnav>
<style>
  .bgm {background-image: url('https://production-prod-trueprofile-blogassets-origin.s3.ap-southeast-1.amazonaws.com/uploads/2021/03/AdobeStock_126279480-1024x683.jpg');}
</style>
<div class="bgm" style="height: 650px;">
<div class="container">
    <div class="row g-3 m-4">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">

          <table class="table table-bordered border-dark table-dark table-striped">
            <thead>
              <tr>
                <th scope="col">EMPLOYEE CODE</th>
                <th scope="col">EMPLOYEE NAME</th>
                <th scope="col">DESIGNATION</th>
                <th scope="col">SALARY</th>
               
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let i of data">
                <td>{{i.empcode}}</td>
                <td>{{i.empname}}</td>
                <td>{{i.designation}}</td>
                <td>{{i.salary}}</td>
               
              </tr>
            </tbody>
          </table>
            

        </div>
    </div>
</div>
</div>