<app-securityhomenav></app-securityhomenav>
<style>
    .bgm {background-image: url('https://assets-global.website-files.com/61766c42e8e50c99a04fbd4b/6179a7473854b15e11196ea6_shutterstock_1389455627.jpeg');}
</style>
<div class="bgm" style="height: 650px;">
<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">

            <div class="row g-3">
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                   
                    <h2 class="text" style="text-align:center"><i>EMPLOYEE LOG ENTRY</i> </h2>

                </div>
                <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">

                    <label for="" class="form-label text"><h4>Employee code</h4></label>
                    <input name="empid" [(ngModel)]="empid" type="text" class="form-control">

                </div>
               
                  
                <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">

                    <label for="" class="form-label"><h4>Date</h4></label>
                    <input type="date" name="date" [(ngModel)]="date" id="" class="form-control">
                   

                </div>
                <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">

                    <label for="" class="form-label"><h4>Entry_datetime</h4></label>
                    <input type="datetime" name="entry_datetime" [(ngModel)]="entry_datetime" id="" class="form-control">

                </div>
                <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">

                    <label for="" class="form-label"><h4>Exit_datetime</h4></label>
                    <input type="datetime" name="exit_datetime" [(ngModel)]="exit_datetime" id="" class="form-control">


                </div>
                

                
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12 text-center">

                    <button (click)="readValue()" class="btn btn-dark" btn-lg>Enter</button>

                </div>
                
                

            </div>

        </div>
    </div>
</div>
</div>


