<app-adminsecuritynav></app-adminsecuritynav>
<style>
    .bgm {background-image: url('https://c4.wallpaperflare.com/wallpaper/4/581/290/security-nsa-edward-snowden-wallpaper-thumb.jpg');}
</style>
<div class="bgm" style="height:1000px;">
<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">

            <div class="row g-3 m-4">
                <div class="col col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 col-xxl-6">

                    <label for="" class="form-label" style="background-color: aqua;" ><h5>Employee Code</h5></label>
                    <input name="empcode" [(ngModel)]="empcode" type="text" class="form-control">

                </div>
                <div class="col col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 col-xxl-6">

                    <label for="" class="form-label" style="background-color: aqua;" ><h5>Name</h5></label>
                    <input name="name" [(ngModel)]="name" type="text" class="form-control">

                </div>
                
                
                <div class="col col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 col-xxl-6">

                    <label for="" class="form-label" style="background-color: aqua;"><h5>User Name</h5></label>
                    <input name="username" [(ngModel)]="username" type="text" class="form-control">

                </div>
                <div class="col col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 col-xxl-6">

                    <label for="" class="form-label" style="background-color: aqua;"><h5>Password</h5></label>
                    <input type="password" name="password" [(ngModel)]="password" id="" class="form-control">
                   

                </div>
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12 text-center">

                    <button (click)="readValue()" class="btn btn-success">Submit</button>

                </div>
            </div>

        </div>
    </div>
</div>
</div>

