<app-homenav></app-homenav>
<style>
    .bgm {background-image: url('https://res.cloudinary.com/people-matters/image/upload/q_auto,f_auto/v1643136985/1643136983.jpg');}
</style>
<div class="bgm" style="height:670px;">
<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">

            <div class="row g-3">
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                   
                    <h2 class="text" style="text-align:center">EMPLOYEE LOGIN </h2>

                </div>
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">

                    <label for="" class="form-label text"><h4>User Name</h4></label>
                    <input name="username" [(ngModel)]="username" type="text" class="form-control">

                </div>
               
                  
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">

                    <label for="" class="form-label"><h4>Password</h4></label>
                    <input name="password" [(ngModel)]="password" type="password" name="" id="" class="form-control">

                </div>
                
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12 text-center">

                    <button (click)="readValue()" class="btn btn-success">Login</button>

                </div>
                
            </div>

        </div>
    </div>
</div>
</div>


