<app-homenav></app-homenav>
<style>
    .bgm    {
            background-image:url('https://img.freepik.com/free-photo/businessman-pointing-his-presentation-futuristic-digital-screen_53876-102617.jpg?size=626&ext=jpg&ga=GA1.2.1805897780.1669816626')
    }
</style>
<div class="bgm" style="height:700px">
<div class="container">
    

    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">

            <div class="row g-3">

                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">

                    <h2 class="text" style="text-align:center"><B><i>ADMINISTRATOR LOGIN</i></B></h2>

                </div>
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">

                    <label for="" class="form-label"><h3>User Name</h3></label>
                    <input name="username" [(ngModel)]="username" type="text" class="form-control">

                </div>
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">

                    <label for="" class="form-label "><h3>Password</h3></label>
                    <input name="password" [(ngModel)]="password" type="password" name="" id="" class="form-control">

                </div>
                <div>
                </div>
                
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12 text-center">

                   <button (click)="readValue()" class="btn btn-primary btn-lg">&nbsp; &nbsp;  Login &nbsp; &nbsp;</button>

                </div>
               
               
            </div>

        </div>
    </div>
</div>
</div>

