<nav class="navbar navbar-expand-lg bg-primary">
    <div class="container-fluid">
      <a class="navbar-brand" href="#"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#"><img height="50" src="https://www.nestdigital.com/images/logo.svg"></a>
          </li>
          
          <li class="nav-item">
            <a class="nav-link"  routerLink="/emphome"><b><h5>&nbsp;VIEW PROFILE &nbsp;</h5></b></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/applyleave"><b><h5>&nbsp;APPLY LEAVE &nbsp;</h5></b></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/statusview"><b><h5>&nbsp;VIEW STATUS &nbsp;</h5></b></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/pendingleaves"><b><h5>&nbsp;LEAVE PENDING &nbsp;</h5></b></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/emplogin"><b><h5>&nbsp;LOGOUT &nbsp;</h5></b></a>
          </li>
         
        </ul>
    </div>
</div>
</nav>


