<app-homenav></app-homenav>
<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6"> </div>
        
            <div class="card" style="width: 500rem;">
                <img height ="600" src="https://images3.alphacoders.com/276/276565.jpg" class="card-img-top" alt="...">
                <div class="centered" style="background-color:floralwhite;"><img height="100" src="https://www.nestdigital.com/images/logo.svg">
                    <h1 style="background-color: aqua; background-size:cover;">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Vision & Mission</h1>
                    <h3 style="background-color: aqua; background-size:cover;"><i>NEST Technologies is a knowledgeable and trustworthy partner  that develops long-term relationships with its clients and guides them through processes that define the most effective solutions to meet their needs.</i></h3></div>
                <div class="card-body">
                  <h5 class="card-title"><b><i><h2>Welcome to NeST Digital App</h2></i></b></h5>
                </div>
            </div>
    </div>
</div>
