<app-homenav></app-homenav>
<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6"> </div>
        
            <div class="card" style="width: 500rem;">
                <img height ="600" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSh5w123sfvjy_sotbLGrF4xm8apM1xsPiY6elWZz1E3GKTusU1vbuwE3xG_chYogHYpfM&usqp=CAU" class="card-img-top" alt="...">
                <div class="centered"><img height="100" src="https://www.nestdigital.com/images/logo.svg">
                    <h1 style="background-color: aqua; background-size:cover;"><i>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Vision & Mission</i></h1>
                    <h3 style="background-color: aqua; background-size:cover;">NEST Technologies is a knowledgeable and trustworthy partner  that develops long-term relationships with its clients and guides them through processes that define the most effective solutions to meet their needs.</h3></div>
                <div class="card-body">
                  <h5 class="card-title"><b><i><h2>Welcome to NeST Digital App</h2></i></b></h5>
                </div>
            </div>
    </div>
</div>
